*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:white;
     font-family: "Urbanist", sans-serif;
    font-weight: 400;
}
body{
    background-color: #141414;
}
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}
a:hover{
    opacity: .7;
}

/* header */

header{
    background: url('/Assets/abstract.png'), linear-gradient(to top, rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.739));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
}
.header-cancel{
    position: absolute;
    right: 20px;
    background: rgba(255, 255, 255, 0.126);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.header-cancel:hover{
    background: rgba(255, 255, 255, 0.226);
}

/* nav bar */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.507);
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}
.nav-ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.active-navlink{
     background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
  
}
.button-outline{
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 200px;
}
.menu {
    display: none;
}
.button-solid{
    color: white;
    background: #703BF7;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    height: 50px;
    width: 230px;
}
.button-solid:hover{
    background: white;
    color:#703BF7 ;
}
.button-outline:hover{
    background: gray;
    color: black;
}
.head-section{
    padding: 20px 60px; 
    text-align: start;
}
.head-text{
    margin-top: 160px;
    font-size: 48px;
    font-style: Urbanist;
    font-weight: 600px;
}
.head-paragraph{
    font-weight: 500px;
    font-size: 18px;
    color: #999999;
    margin-top: 30px;
}
.head-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.overall-search{
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    padding:10px;
    border-radius: 10px;
    width: 80%;
}
.input{
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
}
.location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
    padding: 0px 10px;
    gap:10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.226);

}
select{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    width: 30px;

}
option{
    color: grey;
}
.overall-wrapper{
    display: flex;
    gap: 30px;
    width: 100%;

}
.location-label{
    font-size: .6rem;
}
.star-img{
    margin-top: 30px;
    margin-left: 30px;
}
.dis-text-p{
    margin-top: 20px;
    color:#999999;

}
.img-text{
    background-color: #1d1c1c;

    
    font-size: 18px;
    margin-left: 10px;
    border-radius: 28px;
    padding: 2px 10px;
    width: fit-content;
}
.sea-text{
    font-size: 20px;
    color: #FFFFFF;

}
.sea-para{
    font-weight: 500px;
    color: #999999; 
}
.text-hero{
    margin-left: 20px;
}
.read{
    color: #FFFFFF;
}
.price-stlye{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    width: 100%;
    
}
.price{
    color: #999999;
    
    margin-bottom: 10px;
}
.overall-price{
  display: flex;
    

}
.section-img{
    padding: 8px;
}
.button-text{
    width: 170px;
    height: 27px;
    font-size: 10px;
}
.overall-section{
    
     display: flex;
    justify-content: center;
    gap: 20px;
}
.all-content{
    display: flex;
    flex-direction: column;
     background-color: #262626;
     width: 490px;
     padding: 20px;
     height: 660px;
     border-radius: 10px;
     gap: 30px;
      border: 1px solid rgba(255, 255, 255, 0.226);
     
     
}
.overall-content{
    background-color: #262626;
    height: fit-content;
    margin: auto;
    padding: 10px;

}
.number{
color: #999999;
}
.num-flex{
    display: flex;
    gap: 3px;
    margin-top: 10px;
    background-color: #262626;
   
     font-size: large; 
}
.number-overall{
  display: flex; 
  justify-content: space-between; 
  padding: 10px;
  margin-top: 20px;
}


.star-image{
    margin-top: 170px;
    margin-left: 30px;
}
.form-container {
    width: 90%;
    max-width: 800px;
    background: #151515;
    padding: 30px;
    border-radius: 10px;
}


.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ccc;
}
.location label{
    font-size: .8rem;
    text-wrap: nowrap;
}

input, select, textarea {
    background: #1f1f1f;
    border: 1px solid #333;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    outline: none;
    
}
#location{
    border: none;
    background: none;
}
input::placeholder,
textarea::placeholder {
    color: #777;
}

textarea {
    height: 100px;
}

button {
    width: 100%;
    /* margin-top: 15px; */
    padding: 12px;
    background: #6c63ff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #5a52e0;
} 
.form-name{
    display: flex;
    width: fit-content;
}
 .tex-her{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 600px;
    margin-left: 60px;
 }
.tex-her-p{
    color: #999999;
    margin-top: 10px;
    margin-left: 60PX;
    flex: 4;
}
.overall-text{
    background-color: #1d1c1c;
    border: 1px solid rgba(128, 128, 128, 0.192);
    margin-top: 50px;
}
.over-tex{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.email-logo{
    width: 24px;
    height: 24px;
}
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .footer-section a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.footer-section{
  display: flex;
  align-items: top;
  padding: 50px;
  background-color:  #141414;
  border: 1px solid  rgba(128, 128, 128, 0.192);
  margin-top: 20px;
  gap: 20px;
}
.company{
  flex: 1;
  
}
.about{
    color: #999999;
    font-size: 20px;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-logo p{
  font-weight: 100;
  text-align: right;
  
}
.footer-link{
    margin-top: 20px;
}
.footer-link a:hover{
  color: #F07171;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: none;
}

.all-content2, .all-content3{
    display: flex;
    flex-direction: column;
    background-color: #262626;
    width: 490px;
    padding: 20px;
    height: 660px;
    border-radius: 10px;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.226);
}
.last-sec{
    display: flex;
    gap: 40px;
    flex-grow: grow;
} */
 .input input, .input button{
    background: transparent;
    border: none;
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #262626;
    padding: 14px;
}
.footer{
    display: flex;
    align-items: flex-start;
    margin:100px 50px;
    justify-content: space-between;

}
.homes p{
    color:#999999;
    margin-bottom: 20px;
}
.input-image{
    margin-bottom: 10px;
}
.Homed{
    display: flex;
    gap: 80px;
}
.terms{
    display: flex;
    background-color: #1A1A1A;
    padding: 12px 50px;
    justify-content: space-between;
    align-items: center;
}
.condition{
    display: flex;
    gap: 20px;
}

.form{
        padding: 20px 60px;
    }

    .input-group select{
        width: 100%;
        font-size: .8rem;
    }
.form button{
    margin-top: 20px;
}
@media screen and (max-width:640px) {
    .menu{
        display: flex;
        position: absolute;
        top: 18%;
        right: 0%;
        padding: 0px 15px;
    }
    .tex-her{
        margin: 50px 20px;
    }
    .nav-ul, .button-outline{
        display: none;
    }
    nav{
        margin: 20px;
        padding: 10px 0px;
    }
    .head-text{
        margin-top: 50px;
    }
    .head-section{
        padding: 20px;
    }
    
    .overall-search, .location{
        width: 100%;
    }
    .overall-wrapper{
        flex-direction: column;
        width: 100%;
    }
    .all-content2, .all-content3{
        display: none;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .input-group{
        width: 100%;
        margin: 20px;
    }
    input, select, textarea{
        width: 90%;
    }
    .over-tex{
        display: flex;
        flex-direction: column;
    }
    button {
    width: 90%;
    margin: 15px;
    }
    .last-sec{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-section{
        flex-direction: column;
        gap: 30px;
    }
    .icon{
        align-items: center;
        display: flex;
    }
    .footer-logo{
        align-items: flex-start;
    }
}

@media  screen and (min-width:641px) {
    .menu{
        display: none;
    }
}
