*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:white;
     font-family: "Urbanist", sans-serif;
    font-weight: 400;
}
body{
    background-color: #141414;
}
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}
a:hover{
    opacity: .7;
}

/* header */

header{
    background: url('/Assets/abstract.png'), linear-gradient(to top, rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.739));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
}
.header-cancel{
    position: absolute;
    right: 20px;
    background: rgba(255, 255, 255, 0.126);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.header-cancel:hover{
    background: rgba(255, 255, 255, 0.226);
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.507);
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}
.nav-ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.active-navlink{
     background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
  
}
.button-outline{
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-solid{
    color: white;
    background: #703BF7;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-solid:hover{
    background: white;
    color:#703BF7 ;
}
.button-outline:hover{
    background: gray;
    color: black;
}

/* hero section */

.hero{
    display: flex;
    
    align-items: center;
    text-align: center;
   
    padding-left:60px;
    gap: 20px;
}
.hero-left{
   flex: 1;
   display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-left h1{
    font-size: 46px;
    font-weight: 500;
    text-align: start;
}
.hero-left p{
    margin: 20px 0;
    font-size: 20px;
    text-align: start;
    color: #b3b3b3;
}
.hero-left .hero-buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-left .hero-cards-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}
.hero-left .hero-card{
    background-color: rgba(128, 128, 128, 0.145);
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #703BF7;
    text-align: start;
}
.hero-card h2{
    font-weight: 600;

}
.hero-card p{
   
    color: #b3b3b3;
}

.hero-right{
    flex: 1;
    position: relative;
}
.circle-text{
    position: absolute;
    top: 80px;
    left: -60px;
}



/* feature section   */

.feature{
    display: flex;
    
    align-items: center;
    gap: 10px;
   
}
.feature-card{
    background-color: rgba(128, 128, 128, 0.145);
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #703BF7;
    text-align: start;
    flex: 1;
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    font-size: .8rem;
}
.top-arrow{
    position: absolute;
    top: 20px;
    right: 20px;
}
.footer-section{
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 50px;
  background-color: #F6F6F6;
}
.company{
  margin-right: 60px;
}
.footer-logo{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-logo img{
  margin-bottom: 40px;
}
.footer-logo p{
  font-weight: 100;
  text-align: right;
}
.footer-link a:hover{
  color: #F07171;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: none;
}
